{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://file.googleapis.com/"
        }
    ],
    "info": {
        "contact": {
            "name": "Google",
            "url": "https://google.com"
        },
        "description": "The Cloud Filestore API is used for creating and managing cloud file servers.",
        "title": "Cloud Filestore",
        "version": "v1",
        "x-apiClientRegistration": {
            "url": "https://console.developers.google.com"
        },
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
        },
        "x-origin": [
            {
                "converter": {
                    "url": "https://github.com/lucybot/api-spec-converter",
                    "version": "2.7.31"
                },
                "format": "google",
                "url": "https://file.googleapis.com/$discovery/rest?version=v1",
                "version": "v1"
            }
        ],
        "x-preferred": true,
        "x-providerName": "googleapis.com",
        "x-serviceName": "file"
    },
    "externalDocs": {
        "url": "https://cloud.google.com/filestore/"
    },
    "tags": [
        {
            "name": "projects"
        }
    ],
    "paths": {
        "/v1/{name}": {
            "delete": {
                "description": "Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.",
                "operationId": "file.projects.locations.operations.delete",
                "parameters": [
                    {
                        "description": "The name of the operation resource to be deleted.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "get": {
                "description": "Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.",
                "operationId": "file.projects.locations.operations.get",
                "parameters": [
                    {
                        "description": "The name of the operation resource.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
                                    "properties": {
                                        "done": {
                                            "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                                            "type": "boolean"
                                        },
                                        "error": {
                                            "description": "The error result of the operation in case of failure or cancellation.",
                                            "properties": {
                                                "code": {
                                                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                                    "items": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "metadata": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                                            "type": "string"
                                        },
                                        "response": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "patch": {
                "description": "Updates the settings of a specific instance.",
                "operationId": "file.projects.locations.instances.patch",
                "parameters": [
                    {
                        "description": "Output only.\nThe resource name of the instance, in the format\nprojects/{project_id}/locations/{location_id}/instances/{instance_id}.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Mask of fields to update.  At least one path must be supplied in this\nfield.  The elements of the repeated paths field may only include these\nfields:\n\"description\"",
                        "in": "query",
                        "name": "updateMask",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
                                    "properties": {
                                        "done": {
                                            "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                                            "type": "boolean"
                                        },
                                        "error": {
                                            "description": "The error result of the operation in case of failure or cancellation.",
                                            "properties": {
                                                "code": {
                                                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                                    "items": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "metadata": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                                            "type": "string"
                                        },
                                        "response": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A Cloud Filestore instance.",
                                "properties": {
                                    "createTime": {
                                        "description": "Output only.\nThe time when the instance was created.",
                                        "format": "google-datetime",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "Optional. A description of the instance (2048 characters or less).",
                                        "type": "string"
                                    },
                                    "etag": {
                                        "description": "Server-specified ETag for the instance resource to prevent simultaneous\nupdates from overwriting each other.",
                                        "type": "string"
                                    },
                                    "fileShares": {
                                        "description": "File system shares on the instance.\nFor this version, only a single file share is supported.",
                                        "items": {
                                            "description": "File share configuration for the instance.",
                                            "properties": {
                                                "capacityGb": {
                                                    "description": "File share capacity in gigabytes (GB).\nCloud Filestore defines 1 GB as 1024^3 bytes.",
                                                    "format": "int64",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the file share (must be 16 characters or less).",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "labels": {
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Resource labels to represent user provided metadata.",
                                        "type": "object"
                                    },
                                    "name": {
                                        "description": "Output only.\nThe resource name of the instance, in the format\nprojects/{project_id}/locations/{location_id}/instances/{instance_id}.",
                                        "type": "string"
                                    },
                                    "networks": {
                                        "description": "VPC networks to which the instance is connected.\nFor this version, only a single network is supported.",
                                        "items": {
                                            "description": "Network configuration for the instance.",
                                            "properties": {
                                                "ipAddresses": {
                                                    "description": "Output only.\nIPv4 addresses in the format\n{octet 1}.{octet 2}.{octet 3}.{octet 4} or IPv6 addresses in the format\n{block 1}:{block 2}:{block 3}:{block 4}:{block 5}:{block 6}:{block 7}:{block 8}.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "modes": {
                                                    "description": "Internet protocol versions for which the instance has IP addresses\nassigned. For this version, only MODE_IPV4 is supported.",
                                                    "items": {
                                                        "enum": [
                                                            "ADDRESS_MODE_UNSPECIFIED",
                                                            "MODE_IPV4"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "network": {
                                                    "description": "The name of the Google Compute Engine\n[VPC network](/compute/docs/networks-and-firewalls#networks) to which the\ninstance is connected.",
                                                    "type": "string"
                                                },
                                                "reservedIpRange": {
                                                    "description": "A /29 CIDR block in one of the\n[internal IP address ranges](https://www.arin.net/knowledge/address_filters.html)\nthat identifies the range of IP addresses reserved for this\ninstance. For example, 10.0.0.0/29 or 192.168.0.0/29. The range you specify\ncan't overlap with either existing subnets or assigned IP address ranges\nfor other Cloud Filestore instances in the selected VPC network.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "state": {
                                        "description": "Output only.\nThe instance state.",
                                        "enum": [
                                            "STATE_UNSPECIFIED",
                                            "CREATING",
                                            "READY",
                                            "REPAIRING",
                                            "DELETING",
                                            "ERROR"
                                        ],
                                        "type": "string"
                                    },
                                    "statusMessage": {
                                        "description": "Output only.\nAdditional information about the instance state, if available.",
                                        "type": "string"
                                    },
                                    "tier": {
                                        "description": "The service tier of the instance.",
                                        "enum": [
                                            "TIER_UNSPECIFIED",
                                            "STANDARD",
                                            "PREMIUM"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{name}/locations": {
            "get": {
                "description": "Lists information about the supported locations for this service.",
                "operationId": "file.projects.locations.list",
                "parameters": [
                    {
                        "description": "The standard list filter.",
                        "in": "query",
                        "name": "filter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The resource that owns the locations collection, if applicable.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The standard list page size.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The standard list page token.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The response message for Locations.ListLocations.",
                                    "properties": {
                                        "locations": {
                                            "description": "A list of locations that matches the specified filter in the request.",
                                            "items": {
                                                "description": "A resource that represents Google Cloud Platform location.",
                                                "properties": {
                                                    "displayName": {
                                                        "description": "The friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".",
                                                        "type": "string"
                                                    },
                                                    "labels": {
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        },
                                                        "description": "Cross-service attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\": \"us-east1\"}",
                                                        "type": "object"
                                                    },
                                                    "locationId": {
                                                        "description": "The canonical id for this location. For example: `\"us-east1\"`.",
                                                        "type": "string"
                                                    },
                                                    "metadata": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "description": "Service-specific metadata. For example the available capacity at the given\nlocation.",
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Resource name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`",
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextPageToken": {
                                            "description": "The standard List next-page token.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1/{name}/operations": {
            "get": {
                "description": "Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.",
                "operationId": "file.projects.locations.operations.list",
                "parameters": [
                    {
                        "description": "The standard list filter.",
                        "in": "query",
                        "name": "filter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The name of the operation's parent resource.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The standard list page size.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The standard list page token.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "The response message for Operations.ListOperations.",
                                    "properties": {
                                        "nextPageToken": {
                                            "description": "The standard List next-page token.",
                                            "type": "string"
                                        },
                                        "operations": {
                                            "description": "A list of operations that matches the specified filter in the request.",
                                            "items": {
                                                "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
                                                "properties": {
                                                    "done": {
                                                        "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                                                        "type": "boolean"
                                                    },
                                                    "error": {
                                                        "description": "The error result of the operation in case of failure or cancellation.",
                                                        "properties": {
                                                            "code": {
                                                                "description": "The status code, which should be an enum value of google.rpc.Code.",
                                                                "format": "int32",
                                                                "type": "integer"
                                                            },
                                                            "details": {
                                                                "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                                                "items": {
                                                                    "additionalProperties": {
                                                                        "description": "Properties of the object. Contains field @type with type URL."
                                                                    },
                                                                    "type": "object"
                                                                },
                                                                "type": "array"
                                                            },
                                                            "message": {
                                                                "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                                                "type": "string"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "metadata": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                                                        "type": "string"
                                                    },
                                                    "response": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ]
        },
        "/v1/{name}:cancel": {
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.",
                "operationId": "file.projects.locations.operations.cancel",
                "parameters": [
                    {
                        "description": "The name of the operation resource to be cancelled.",
                        "in": "path",
                        "name": "name",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
                                    "properties": {},
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The request message for Operations.CancelOperation.",
                                "properties": {},
                                "type": "object"
                            }
                        }
                    }
                }
            }
        },
        "/v1/{parent}/instances": {
            "get": {
                "description": "Lists all instances in a project for either a specified location\nor for all locations.",
                "operationId": "file.projects.locations.instances.list",
                "parameters": [
                    {
                        "description": "List filter.",
                        "in": "query",
                        "name": "filter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Sort results. Supported values are \"name\", \"name desc\" or \"\" (unsorted).",
                        "in": "query",
                        "name": "orderBy",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The maximum number of items to return.",
                        "in": "query",
                        "name": "pageSize",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "description": "The next_page_token value to use if there are additional\nresults to retrieve for this list request.",
                        "in": "query",
                        "name": "pageToken",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The project and location for which to retrieve instance information,\nin the format projects/{project_id}/locations/{location}. In Cloud\nFilestore, locations map to GCP zones, for example **us-west1-b**. To\nretrieve instance information for all locations, use \"-\" for the {location}\nvalue.",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "ListInstancesResponse is the result of ListInstancesRequest.",
                                    "properties": {
                                        "instances": {
                                            "description": "A list of instances in the project for the specified location.\n\nIf the {location} value in the request is \"-\", the response contains a list\nof instances from all locations. If any location is unreachable, the\nresponse will only return instances in reachable locations and the\n\"unreachable\" field will be populated with a list of unreachable locations.",
                                            "items": {
                                                "description": "A Cloud Filestore instance.",
                                                "properties": {
                                                    "createTime": {
                                                        "description": "Output only.\nThe time when the instance was created.",
                                                        "format": "google-datetime",
                                                        "type": "string"
                                                    },
                                                    "description": {
                                                        "description": "Optional. A description of the instance (2048 characters or less).",
                                                        "type": "string"
                                                    },
                                                    "etag": {
                                                        "description": "Server-specified ETag for the instance resource to prevent simultaneous\nupdates from overwriting each other.",
                                                        "type": "string"
                                                    },
                                                    "fileShares": {
                                                        "description": "File system shares on the instance.\nFor this version, only a single file share is supported.",
                                                        "items": {
                                                            "description": "File share configuration for the instance.",
                                                            "properties": {
                                                                "capacityGb": {
                                                                    "description": "File share capacity in gigabytes (GB).\nCloud Filestore defines 1 GB as 1024^3 bytes.",
                                                                    "format": "int64",
                                                                    "type": "string"
                                                                },
                                                                "name": {
                                                                    "description": "The name of the file share (must be 16 characters or less).",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "labels": {
                                                        "additionalProperties": {
                                                            "type": "string"
                                                        },
                                                        "description": "Resource labels to represent user provided metadata.",
                                                        "type": "object"
                                                    },
                                                    "name": {
                                                        "description": "Output only.\nThe resource name of the instance, in the format\nprojects/{project_id}/locations/{location_id}/instances/{instance_id}.",
                                                        "type": "string"
                                                    },
                                                    "networks": {
                                                        "description": "VPC networks to which the instance is connected.\nFor this version, only a single network is supported.",
                                                        "items": {
                                                            "description": "Network configuration for the instance.",
                                                            "properties": {
                                                                "ipAddresses": {
                                                                    "description": "Output only.\nIPv4 addresses in the format\n{octet 1}.{octet 2}.{octet 3}.{octet 4} or IPv6 addresses in the format\n{block 1}:{block 2}:{block 3}:{block 4}:{block 5}:{block 6}:{block 7}:{block 8}.",
                                                                    "items": {
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "modes": {
                                                                    "description": "Internet protocol versions for which the instance has IP addresses\nassigned. For this version, only MODE_IPV4 is supported.",
                                                                    "items": {
                                                                        "enum": [
                                                                            "ADDRESS_MODE_UNSPECIFIED",
                                                                            "MODE_IPV4"
                                                                        ],
                                                                        "type": "string"
                                                                    },
                                                                    "type": "array"
                                                                },
                                                                "network": {
                                                                    "description": "The name of the Google Compute Engine\n[VPC network](/compute/docs/networks-and-firewalls#networks) to which the\ninstance is connected.",
                                                                    "type": "string"
                                                                },
                                                                "reservedIpRange": {
                                                                    "description": "A /29 CIDR block in one of the\n[internal IP address ranges](https://www.arin.net/knowledge/address_filters.html)\nthat identifies the range of IP addresses reserved for this\ninstance. For example, 10.0.0.0/29 or 192.168.0.0/29. The range you specify\ncan't overlap with either existing subnets or assigned IP address ranges\nfor other Cloud Filestore instances in the selected VPC network.",
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "state": {
                                                        "description": "Output only.\nThe instance state.",
                                                        "enum": [
                                                            "STATE_UNSPECIFIED",
                                                            "CREATING",
                                                            "READY",
                                                            "REPAIRING",
                                                            "DELETING",
                                                            "ERROR"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "statusMessage": {
                                                        "description": "Output only.\nAdditional information about the instance state, if available.",
                                                        "type": "string"
                                                    },
                                                    "tier": {
                                                        "description": "The service tier of the instance.",
                                                        "enum": [
                                                            "TIER_UNSPECIFIED",
                                                            "STANDARD",
                                                            "PREMIUM"
                                                        ],
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "nextPageToken": {
                                            "description": "The token you can use to retrieve the next page of results. Not returned\nif there are no more results in the list.",
                                            "type": "string"
                                        },
                                        "unreachable": {
                                            "description": "Locations that could not be reached.",
                                            "items": {
                                                "type": "string"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ]
            },
            "parameters": [
                {
                    "description": "V1 error format.",
                    "in": "query",
                    "name": "$.xgafv",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "1",
                            "2"
                        ]
                    }
                },
                {
                    "description": "OAuth access token.",
                    "in": "query",
                    "name": "access_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Data format for response.",
                    "in": "query",
                    "name": "alt",
                    "schema": {
                        "type": "string",
                        "enum": [
                            "json",
                            "media",
                            "proto"
                        ],
                        "default": "json"
                    }
                },
                {
                    "description": "JSONP",
                    "in": "query",
                    "name": "callback",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Selector specifying which fields to include in a partial response.",
                    "in": "query",
                    "name": "fields",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
                    "in": "query",
                    "name": "key",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "OAuth 2.0 token for the current user.",
                    "in": "query",
                    "name": "oauth_token",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Returns response with indentations and line breaks.",
                    "in": "query",
                    "name": "prettyPrint",
                    "schema": {
                        "type": "boolean",
                        "default": true
                    }
                },
                {
                    "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
                    "in": "query",
                    "name": "quotaUser",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
                    "in": "query",
                    "name": "uploadType",
                    "schema": {
                        "type": "string"
                    }
                },
                {
                    "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
                    "in": "query",
                    "name": "upload_protocol",
                    "schema": {
                        "type": "string"
                    }
                }
            ],
            "post": {
                "description": "Creates an instance.",
                "operationId": "file.projects.locations.instances.create",
                "parameters": [
                    {
                        "description": "The name of the instance to create.\nThe name must be unique for the specified project and location.",
                        "in": "query",
                        "name": "instanceId",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The instance's project and location, in the format\nprojects/{project_id}/locations/{location}. In Cloud Filestore,\nlocations map to GCP zones, for example **us-west1-b**.",
                        "in": "path",
                        "name": "parent",
                        "required": true,
                        "x-reservedExpansion": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "description": "This resource represents a long-running operation that is the result of a\nnetwork API call.",
                                    "properties": {
                                        "done": {
                                            "description": "If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.",
                                            "type": "boolean"
                                        },
                                        "error": {
                                            "description": "The error result of the operation in case of failure or cancellation.",
                                            "properties": {
                                                "code": {
                                                    "description": "The status code, which should be an enum value of google.rpc.Code.",
                                                    "format": "int32",
                                                    "type": "integer"
                                                },
                                                "details": {
                                                    "description": "A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.",
                                                    "items": {
                                                        "additionalProperties": {
                                                            "description": "Properties of the object. Contains field @type with type URL."
                                                        },
                                                        "type": "object"
                                                    },
                                                    "type": "array"
                                                },
                                                "message": {
                                                    "description": "A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "metadata": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.",
                                            "type": "object"
                                        },
                                        "name": {
                                            "description": "The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.",
                                            "type": "string"
                                        },
                                        "response": {
                                            "additionalProperties": {
                                                "description": "Properties of the object. Contains field @type with type URL."
                                            },
                                            "description": "The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Oauth2": [
                            "https://www.googleapis.com/auth/cloud-platform"
                        ]
                    }
                ],
                "tags": [
                    "projects"
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "A Cloud Filestore instance.",
                                "properties": {
                                    "createTime": {
                                        "description": "Output only.\nThe time when the instance was created.",
                                        "format": "google-datetime",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "Optional. A description of the instance (2048 characters or less).",
                                        "type": "string"
                                    },
                                    "etag": {
                                        "description": "Server-specified ETag for the instance resource to prevent simultaneous\nupdates from overwriting each other.",
                                        "type": "string"
                                    },
                                    "fileShares": {
                                        "description": "File system shares on the instance.\nFor this version, only a single file share is supported.",
                                        "items": {
                                            "description": "File share configuration for the instance.",
                                            "properties": {
                                                "capacityGb": {
                                                    "description": "File share capacity in gigabytes (GB).\nCloud Filestore defines 1 GB as 1024^3 bytes.",
                                                    "format": "int64",
                                                    "type": "string"
                                                },
                                                "name": {
                                                    "description": "The name of the file share (must be 16 characters or less).",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "labels": {
                                        "additionalProperties": {
                                            "type": "string"
                                        },
                                        "description": "Resource labels to represent user provided metadata.",
                                        "type": "object"
                                    },
                                    "name": {
                                        "description": "Output only.\nThe resource name of the instance, in the format\nprojects/{project_id}/locations/{location_id}/instances/{instance_id}.",
                                        "type": "string"
                                    },
                                    "networks": {
                                        "description": "VPC networks to which the instance is connected.\nFor this version, only a single network is supported.",
                                        "items": {
                                            "description": "Network configuration for the instance.",
                                            "properties": {
                                                "ipAddresses": {
                                                    "description": "Output only.\nIPv4 addresses in the format\n{octet 1}.{octet 2}.{octet 3}.{octet 4} or IPv6 addresses in the format\n{block 1}:{block 2}:{block 3}:{block 4}:{block 5}:{block 6}:{block 7}:{block 8}.",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "modes": {
                                                    "description": "Internet protocol versions for which the instance has IP addresses\nassigned. For this version, only MODE_IPV4 is supported.",
                                                    "items": {
                                                        "enum": [
                                                            "ADDRESS_MODE_UNSPECIFIED",
                                                            "MODE_IPV4"
                                                        ],
                                                        "type": "string"
                                                    },
                                                    "type": "array"
                                                },
                                                "network": {
                                                    "description": "The name of the Google Compute Engine\n[VPC network](/compute/docs/networks-and-firewalls#networks) to which the\ninstance is connected.",
                                                    "type": "string"
                                                },
                                                "reservedIpRange": {
                                                    "description": "A /29 CIDR block in one of the\n[internal IP address ranges](https://www.arin.net/knowledge/address_filters.html)\nthat identifies the range of IP addresses reserved for this\ninstance. For example, 10.0.0.0/29 or 192.168.0.0/29. The range you specify\ncan't overlap with either existing subnets or assigned IP address ranges\nfor other Cloud Filestore instances in the selected VPC network.",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "type": "array"
                                    },
                                    "state": {
                                        "description": "Output only.\nThe instance state.",
                                        "enum": [
                                            "STATE_UNSPECIFIED",
                                            "CREATING",
                                            "READY",
                                            "REPAIRING",
                                            "DELETING",
                                            "ERROR"
                                        ],
                                        "type": "string"
                                    },
                                    "statusMessage": {
                                        "description": "Output only.\nAdditional information about the instance state, if available.",
                                        "type": "string"
                                    },
                                    "tier": {
                                        "description": "The service tier of the instance.",
                                        "enum": [
                                            "TIER_UNSPECIFIED",
                                            "STANDARD",
                                            "PREMIUM"
                                        ],
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "CancelOperationRequest": {
                "description": "The request message for Operations.CancelOperation.",
                "properties": {},
                "type": "object"
            },
            "Empty": {
                "description": "A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.",
                "properties": {},
                "type": "object"
            },
            "FileShareConfig": {
                "description": "File share configuration for the instance.",
                "properties": {
                    "capacityGb": {
                        "description": "File share capacity in gigabytes (GB).\nCloud Filestore defines 1 GB as 1024^3 bytes.",
                        "format": "int64",
                        "type": "string"
                    },
                    "name": {
                        "description": "The name of the file share (must be 16 characters or less).",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "Instance": {
                "description": "A Cloud Filestore instance.",
                "properties": {
                    "createTime": {
                        "description": "Output only.\nThe time when the instance was created.",
                        "format": "google-datetime",
                        "type": "string"
                    },
                    "description": {
                        "description": "Optional. A description of the instance (2048 characters or less).",
                        "type": "string"
                    },
                    "etag": {
                        "description": "Server-specified ETag for the instance resource to prevent simultaneous\nupdates from overwriting each other.",
                        "type": "string"
                    },
                    "fileShares": {
                        "description": "File system shares on the instance.\nFor this version, only a single file share is supported.",
                        "items": {
                            "description": "File share configuration for the instance.",
                            "properties": {
                                "capacityGb": {
                                    "description": "File share capacity in gigabytes (GB).\nCloud Filestore defines 1 GB as 1024^3 bytes.",
                                    "format": "int64",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "The name of the file share (must be 16 characters or less).",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "labels": {
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Resource labels to represent user provided metadata.",
                        "type": "object"
                    },
                    "name": {
                        "description": "Output only.\nThe resource name of the instance, in the format\nprojects/{project_id}/locations/{location_id}/instances/{instance_id}.",
                        "type": "string"
                    },
                    "networks": {
                        "description": "VPC networks to which the instance is connected.\nFor this version, only a single network is supported.",
                        "items": {
                            "description": "Network configuration for the instance.",
                            "properties": {
                                "ipAddresses": {
                                    "description": "Output only.\nIPv4 addresses in the format\n{octet 1}.{octet 2}.{octet 3}.{octet 4} or IPv6 addresses in the format\n{block 1}:{block 2}:{block 3}:{block 4}:{block 5}:{block 6}:{block 7}:{block 8}.",
                                    "items": {
                                        "type": "string"
                                    },
                                    "type": "array"
                                },
                                "modes": {
                                    "description": "Internet protocol versions for which the instance has IP addresses\nassigned. For this version, only MODE_IPV4 is supported.",
                                    "items": {
                                        "enum": [
                                            "ADDRESS_MODE_UNSPECIFIED",
                                            "MODE_IPV4"
                                        ],
                                        "type": "string"
                                    },
                                    "type": "array"
                                },
                                "network": {
                                    "description": "The name of the Google Compute Engine\n[VPC network](/compute/docs/networks-and-firewalls#networks) to which the\ninstance is connected.",
                                    "type": "string"
                                },
                                "reservedIpRange": {
                                    "description": "A /29 CIDR block in one of the\n[internal IP address ranges](https://www.arin.net/knowledge/address_filters.html)\nthat identifies the range of IP addresses reserved for this\ninstance. For example, 10.0.0.0/29 or 192.168.0.0/29. The range you specify\ncan't overlap with either existing subnets or assigned IP address ranges\nfor other Cloud Filestore instances in the selected VPC network.",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    },
                    "state": {
                        "description": "Output only.\nThe instance state.",
                        "enum": [
                            "STATE_UNSPECIFIED",
                            "CREATING",
                            "READY",
                            "REPAIRING",
                            "DELETING",
                            "ERROR"
                        ],
                        "type": "string"
                    },
                    "statusMessage": {
                        "description": "Output only.\nAdditional information about the instance state, if available.",
                        "type": "string"
                    },
                    "tier": {
                        "description": "The service tier of the instance.",
                        "enum": [
                            "TIER_UNSPECIFIED",
                            "STANDARD",
                            "PREMIUM"
                        ],
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "ListInstancesResponse": {
                "description": "ListInstancesResponse is the result of ListInstancesRequest.",
                "properties": {
                    "instances": {
                        "description": "A list of instances in the project for the specified location.\n\nIf the {location} value in the request is \"-\", the response contains a list\nof instances from all locations. If any location is unreachable, the\nresponse will only return instances in reachable locations and the\n\"unreachable\" field will be populated with a list of unreachable locations.",
                        "items": {
                            "description": "A Cloud Filestore instance.",
                            "properties": {
                                "createTime": {
                                    "description": "Output only.\nThe time when the instance was created.",
                                    "format": "google-datetime",
                                    "type": "string"
                                },
                                "description": {
                                    "description": "Optional. A description of the instance (2048 characters or less).",
                                    "type": "string"
                                },
                                "etag": {
                                    "description": "Server-specified ETag for the instance resource to prevent simultaneous\nupdates from overwriting each other.",
                                    "type": "string"
                                },
                                "fileShares": {
[...]
